.switch-preview-button{
    padding: 3px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    top:5px;
    left:5px;
    cursor:pointer;
    z-index: 1000;
}